<!-- Image and text -->
<nav class="navbar navbar-light bg-light">



    <%= link_to  "Wikinimous", articles_path, class: "navbar-brand"  %>

  <p class="pull-right"><%= link_to "New article", new_article_path  %></p>
</nav>
